/* Styles généraux du conteneur */
.deepwine-container {
     /* Fond gris foncé */
    color: #fff;
    font-family: Arial, sans-serif;
    min-height: 100vh;
  }
  
  .deepwine-left {
    
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Aligner les éléments en bas */
    position: relative;
    overflow: hidden;
  }
  
  .deepwine-right {
    
    padding: 50px;
  }
  
  /* Positionnement des éléments de la section de gauche */
  .wine-bottle-group {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .wine-bottle {
    max-height: 90vh; /* S'assurer que la bouteille ne dépasse pas */
    position: relative;
    z-index: 3;
  }
  
  .wine-glass {
    position: absolute;
    bottom: 0;
    left: 55%;
    transform: translateX(-50%);
    z-index: 2;
    max-height: 50%;
  }
  
  .cheese {
    position: absolute;
    bottom: 0;
    left: 20%;
    z-index: 4;
    max-width: 30%;
  }
  
  /* Styles de la section de droite */
  .right-content {
    max-width: 500px;
    margin: auto;
  }
  
  .wine-title {
    font-family: 'Times New Roman', serif;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 0;
  }
  
  .collection-text {
    letter-spacing: 5px;
    font-size: 14px;
    color: #aaa;
    margin-top: -10px;
  }
  
  .section-title-best {
    color: #d12e2e;
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
  }
  
  .section-title-unique {
    color: #d12e2e;
    font-size: 20px;
    font-weight: bold;
  }
  
  .section-text {
    font-size: 14px;
    line-height: 1.6;
    
  }
  
  .grapes {
    width: 150px;
    float: right;
    margin: 20px 0 20px 20px;
  }
  .btn-warning{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  
  }
  .btn-warning:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(102, 126, 234, 0.4);
    color: #34495e;
  }
  .wine-splash {
    width: 150px;
    display: block;
    margin: 20px auto;
  }
  
  .limited-edition {
    text-align: center;
    margin-top: 50px;
  }
  
  .limited-edition p:first-child {
    font-size: 12px;
    color: #aaa;
    margin-bottom: 5px;
  }
  
  .limited-edition p:last-child {
    font-size: 20px;
    font-weight: bold;
    color: #d12e2e;
  }
   /* CSS personnalisé */
.navbar-custom {
   color: #34495e;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
  color: #34495e !important;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #3498db !important;
}

.dropdown-menu {
    background-color: #34495e;
}

.dropdown-item {
    color: #ecf0f1;
}

.dropdown-item:hover {
    background-color: #3498db;
    color: white;
}

.badge-notification {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.7rem;
}